# NOTE: Requires **VS2019 16.3** or later

# OpenTK Rules
# Description: stylecop.ruleset

# Code files
[*.{cs,vb}]


# Special rules
# XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = error

# Invalid settings file
dotnet_diagnostic.SA0002.severity = error

# Spacing rules
# Keywords must be spaced correctly
dotnet_diagnostic.SA1000.severity = error

# Commas must be spaced correctly
dotnet_diagnostic.SA1001.severity = error

# Semicolons must be spaced correctly
dotnet_diagnostic.SA1002.severity = error

# Symbols must be spaced correctly
dotnet_diagnostic.SA1003.severity = error

# Documentation lines must begin with single space
dotnet_diagnostic.SA1004.severity = error

# Single line comments must begin with single space
dotnet_diagnostic.SA1005.severity = warning

# Preprocessor keywords must not be preceded by space
dotnet_diagnostic.SA1006.severity = error

# Operator keyword must be followed by space
dotnet_diagnostic.SA1007.severity = error

# Opening parenthesis must be spaced correctly
dotnet_diagnostic.SA1008.severity = error

# Closing parenthesis must be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# Opening square brackets must be spaced correctly
dotnet_diagnostic.SA1010.severity = error

# Closing square brackets must be spaced correctly
dotnet_diagnostic.SA1011.severity = error

# Opening braces must be spaced correctly
dotnet_diagnostic.SA1012.severity = error

# Closing braces must be spaced correctly
dotnet_diagnostic.SA1013.severity = error

# Opening generic brackets must be spaced correctly
dotnet_diagnostic.SA1014.severity = error

# Closing generic brackets must be spaced correctly
dotnet_diagnostic.SA1015.severity = error

# Opening attribute brackets must be spaced correctly
dotnet_diagnostic.SA1016.severity = error

# Closing attribute brackets must be spaced correctly
dotnet_diagnostic.SA1017.severity = error

# Nullable type symbols must be spaced correctly
dotnet_diagnostic.SA1018.severity = error

# Member access symbols must be spaced correctly
dotnet_diagnostic.SA1019.severity = error

# Increment decrement symbols must be spaced correctly
dotnet_diagnostic.SA1020.severity = error

# Negative signs must be spaced correctly
dotnet_diagnostic.SA1021.severity = error

# Positive signs must be spaced correctly
dotnet_diagnostic.SA1022.severity = error

# Dereference and access of symbols must be spaced correctly
dotnet_diagnostic.SA1023.severity = error

# Colons must be spaced correctly
dotnet_diagnostic.SA1024.severity = error

# Code must not contain multiple whitespace in a row
dotnet_diagnostic.SA1025.severity = error

# Code must not contain space after new keyword in implicitly typed array allocation
dotnet_diagnostic.SA1026.severity = error

# Use tabs correctly
dotnet_diagnostic.SA1027.severity = error

# Code must not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = error

# Readability rules
# Do not prefix calls with base unless local implementation exists
dotnet_diagnostic.SA1100.severity = error

# Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# Query clause must follow previous clause
dotnet_diagnostic.SA1102.severity = error

# Query clauses must be on separate lines or all on one line
dotnet_diagnostic.SA1103.severity = error

# Query clause must begin on new line when previous clause spans multiple lines
dotnet_diagnostic.SA1104.severity = error

# Query clauses spanning multiple lines must begin on own line
dotnet_diagnostic.SA1105.severity = error

# Code must not contain empty statements
dotnet_diagnostic.SA1106.severity = error

# Code must not contain multiple statements on one line
dotnet_diagnostic.SA1107.severity = error

# Block statements must not contain embedded comments
dotnet_diagnostic.SA1108.severity = error

# Opening parenthesis or bracket must be on declaration line
dotnet_diagnostic.SA1110.severity = none

# Closing parenthesis must be on line of last parameter
dotnet_diagnostic.SA1111.severity = none

# Closing parenthesis must be on line of opening parenthesis
dotnet_diagnostic.SA1112.severity = error

# Comma must be on the same line as previous parameter
dotnet_diagnostic.SA1113.severity = error

# Parameter list must follow declaration
dotnet_diagnostic.SA1114.severity = error

# Parameter must follow comma
dotnet_diagnostic.SA1115.severity = error

# Split parameters must start on line after declaration
dotnet_diagnostic.SA1116.severity = error

# Parameters must be on same line or separate lines
dotnet_diagnostic.SA1117.severity = error

# Parameter must not span multiple lines
dotnet_diagnostic.SA1118.severity = error

# Statement must not use unnecessary parenthesis
dotnet_diagnostic.SA1119.severity = error

# Comments must contain text
dotnet_diagnostic.SA1120.severity = none

# Use built-in type alias
dotnet_diagnostic.SA1121.severity = error

# Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = error

# Do not place regions within elements
dotnet_diagnostic.SA1123.severity = error

# Do not use regions
dotnet_diagnostic.SA1124.severity = error

# Use shorthand for nullable types
dotnet_diagnostic.SA1125.severity = error

# Generic type constraints must be on their own line
dotnet_diagnostic.SA1127.severity = none

# Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = error

# Do not use default value type constructor
dotnet_diagnostic.SA1129.severity = error

# Use lambda syntax
dotnet_diagnostic.SA1130.severity = error

# Use readable conditions
dotnet_diagnostic.SA1131.severity = error

# Do not combine fields
dotnet_diagnostic.SA1132.severity = error

# Do not combine attributes
dotnet_diagnostic.SA1133.severity = none

# Attributes must not share line
dotnet_diagnostic.SA1134.severity = none

# Enum values should be on separate lines
dotnet_diagnostic.SA1136.severity = error

# Elements should have the same indentation
dotnet_diagnostic.SA1137.severity = error

# Use literals suffix notation instead of casting
dotnet_diagnostic.SA1139.severity = error

# Ordering rules
# Using directives must be placed correctly
dotnet_diagnostic.SA1200.severity = error

# Elements must appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# Elements must be ordered by access
dotnet_diagnostic.SA1202.severity = none

# Constants must appear before fields
dotnet_diagnostic.SA1203.severity = error

# Static elements must appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# Partial elements must declare access
dotnet_diagnostic.SA1205.severity = error

# Declaration keywords must follow order
dotnet_diagnostic.SA1206.severity = error

# Protected must come before internal
dotnet_diagnostic.SA1207.severity = error

# System using directives must be placed before other using directives
dotnet_diagnostic.SA1208.severity = error

# Using alias directives must be placed after other using directives
dotnet_diagnostic.SA1209.severity = error

# Using directives must be ordered alphabetically by namespace
dotnet_diagnostic.SA1210.severity = error

# Using alias directives must be ordered alphabetically by alias name
dotnet_diagnostic.SA1211.severity = error

# Property accessors must follow order
dotnet_diagnostic.SA1212.severity = error

# Event accessors must follow order
dotnet_diagnostic.SA1213.severity = error

# Readonly fields must appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = error

# Using static directives must be placed at the correct location.
dotnet_diagnostic.SA1216.severity = error

# Using static directives must be ordered alphabetically
dotnet_diagnostic.SA1217.severity = error

# Naming rules
# Element must begin with upper-case letter
dotnet_diagnostic.SA1300.severity = error

# Interface names must begin with I
dotnet_diagnostic.SA1302.severity = error

# Const field names must begin with upper-case letter
dotnet_diagnostic.SA1303.severity = error

# Non-private readonly fields must begin with upper-case letter
dotnet_diagnostic.SA1304.severity = error

# Field names must not use Hungarian notation
dotnet_diagnostic.SA1305.severity = error

# Field names must begin with lower-case letter
dotnet_diagnostic.SA1306.severity = none

# Accessible fields must begin with upper-case letter
dotnet_diagnostic.SA1307.severity = error

# Variable names must not be prefixed
dotnet_diagnostic.SA1308.severity = error

# Field names must not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# Field names must not contain underscore
dotnet_diagnostic.SA1310.severity = error

# Static readonly fields must begin with upper-case letter
dotnet_diagnostic.SA1311.severity = error

# Variable names must begin with lower-case letter
dotnet_diagnostic.SA1312.severity = error

# Parameter names must begin with lower-case letter
dotnet_diagnostic.SA1313.severity = error

# Type name parameters must begin with T
dotnet_diagnostic.SA1314.severity = error

# Maintainability rules
# Access modifier must be declared
dotnet_diagnostic.SA1400.severity = error

# Fields must be private
dotnet_diagnostic.SA1401.severity = error

# File may only contain a single class
dotnet_diagnostic.SA1402.severity = error

# File may only contain a single namespace
dotnet_diagnostic.SA1403.severity = error

# Code analysis suppression must have justification
dotnet_diagnostic.SA1404.severity = error

# Debug.Assert must provide message text
dotnet_diagnostic.SA1405.severity = error

# Debug.Fail must provide message text
dotnet_diagnostic.SA1406.severity = error

# Arithmetic expressions must declare precedence
dotnet_diagnostic.SA1407.severity = error

# Conditional expressions must declare precedence
dotnet_diagnostic.SA1408.severity = error

# Remove delegate parenthesis when possible
dotnet_diagnostic.SA1410.severity = error

# Attribute constructor must not use unnecessary parenthesis
dotnet_diagnostic.SA1411.severity = error

# Store files as UTF-8 with byte order mark
dotnet_diagnostic.SA1412.severity = none

# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# Layout rules
# Braces for multi-line statements must not share line
dotnet_diagnostic.SA1500.severity = error

# Statement must not be on a single line
dotnet_diagnostic.SA1501.severity = error

# Element must not be on a single line
dotnet_diagnostic.SA1502.severity = error

# Braces must not be omitted
dotnet_diagnostic.SA1503.severity = error

# All accessors must be single-line or multi-line
dotnet_diagnostic.SA1504.severity = error

# Opening braces must not be followed by blank line
dotnet_diagnostic.SA1505.severity = error

# Element documentation headers must not be followed by blank line
dotnet_diagnostic.SA1506.severity = error

# Code must not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = error

# Closing braces must not be preceded by blank line
dotnet_diagnostic.SA1508.severity = error

# Opening braces must not be preceded by blank line
dotnet_diagnostic.SA1509.severity = error

# Chained statement blocks must not be preceded by blank line
dotnet_diagnostic.SA1510.severity = error

# While-do footer must not be preceded by blank line
dotnet_diagnostic.SA1511.severity = error

# Single-line comments must not be followed by blank line
dotnet_diagnostic.SA1512.severity = warning

# Closing brace must be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# Element documentation header must be preceded by blank line
dotnet_diagnostic.SA1514.severity = error

# Single-line comment must be preceded by blank line
dotnet_diagnostic.SA1515.severity = warning

# Elements must be separated by blank line
dotnet_diagnostic.SA1516.severity = error

# Code must not contain blank lines at start of file
dotnet_diagnostic.SA1517.severity = error

# Use line endings correctly at end of file
dotnet_diagnostic.SA1518.severity = error

# Braces must not be omitted from multi-line child statement
dotnet_diagnostic.SA1519.severity = error

# Use braces consistently
dotnet_diagnostic.SA1520.severity = error

# Documentation rules
# Elements must be documented
dotnet_diagnostic.SA1600.severity = error

# Partial elements must be documented
dotnet_diagnostic.SA1601.severity = none

# Enumeration items must be documented
dotnet_diagnostic.SA1602.severity = error

# Element documentation must have summary
dotnet_diagnostic.SA1604.severity = error

# Partial element documentation must have summary
dotnet_diagnostic.SA1605.severity = error

# Element documentation must have summary text
dotnet_diagnostic.SA1606.severity = error

# Partial element documentation must have summary text
dotnet_diagnostic.SA1607.severity = error

# Element documentation must not have default summary
dotnet_diagnostic.SA1608.severity = error

# Property documentation must have value
dotnet_diagnostic.SA1609.severity = none

# Property documentation must have value text
dotnet_diagnostic.SA1610.severity = none

# Element parameters must be documented
dotnet_diagnostic.SA1611.severity = error

# Element parameter documentation must match element parameters
dotnet_diagnostic.SA1612.severity = error

# Element parameter documentation must declare parameter name
dotnet_diagnostic.SA1613.severity = error

# Element parameter documentation must have text
dotnet_diagnostic.SA1614.severity = error

# Element return value must be documented
dotnet_diagnostic.SA1615.severity = error

# Element return value documentation must have text
dotnet_diagnostic.SA1616.severity = error

# Void return value must not be documented
dotnet_diagnostic.SA1617.severity = error

# Generic type parameters must be documented
dotnet_diagnostic.SA1618.severity = error

# Generic type parameters must be documented partial class
dotnet_diagnostic.SA1619.severity = error

# Generic type parameter documentation must match type parameters
dotnet_diagnostic.SA1620.severity = error

# Generic type parameter documentation must declare parameter name
dotnet_diagnostic.SA1621.severity = error

# Generic type parameter documentation must have text
dotnet_diagnostic.SA1622.severity = error

# Property summary documentation must match accessors
dotnet_diagnostic.SA1623.severity = error

# Property summary documentation must omit accessor with restricted access
dotnet_diagnostic.SA1624.severity = error

# Element documentation must not be copied and pasted
dotnet_diagnostic.SA1625.severity = error

# Single-line comments must not use documentation style slashes
dotnet_diagnostic.SA1626.severity = error

# Documentation text must not be empty
dotnet_diagnostic.SA1627.severity = error

# Documentation text must end with a period
dotnet_diagnostic.SA1629.severity = error

# File must have header
dotnet_diagnostic.SA1633.severity = error

# File header must show copyright
dotnet_diagnostic.SA1634.severity = error

# File header must have copyright text
dotnet_diagnostic.SA1635.severity = error

# File header copyright text must match
dotnet_diagnostic.SA1636.severity = error

# File header must contain file name
dotnet_diagnostic.SA1637.severity = error

# File header file name documentation must match file name
dotnet_diagnostic.SA1638.severity = error

# File header must have summary
dotnet_diagnostic.SA1639.severity = error

# File header must have valid company text
dotnet_diagnostic.SA1640.severity = error

# File header company name text must match
dotnet_diagnostic.SA1641.severity = error

# Constructor summary documentation must begin with standard text
dotnet_diagnostic.SA1642.severity = error

# Destructor summary documentation must begin with standard text
dotnet_diagnostic.SA1643.severity = error

# Documentation header must not contain blank lines
dotnet_diagnostic.SA1644.severity = none

# inheritdoc must be used with inheriting class
dotnet_diagnostic.SA1648.severity = error

# File name must match first type name
dotnet_diagnostic.SA1649.severity = error

# Do not use placeholder elements
dotnet_diagnostic.SA1651.severity = error

# Do not prefix local calls with this.
dotnet_diagnostic.SX1101.severity = none

# Field names must begin with underscore
dotnet_diagnostic.SX1309.severity = error

# Static field names must begin with underscore
dotnet_diagnostic.SX1309S.severity = none
